.itemContainer{
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    border-radius: 4px;
    background-color: #1B1B1B;
    margin: 0 auto;
    margin-top: 10px;

    .item{
        height: 40px;
        color: white;
        position: relative;

        p{
            line-height: 48px;
            text-align: center;
            font-size: 14px;

            &:after{
                content: '';
                display: block;
                height: 10px;
                width: 100%;
                position: absolute;
                top: -15px;
                font-size: 9px;
                color: #fff;
            }
        }
    }

    .name{
        width: 100%;
        text-align: center;

        p{
            line-height: 40px;
        }
    }

    @media only screen and (min-width: 769px){
        .name{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            padding: 0 10px;

            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 2px;
                height: 84%;
                border-radius: 2px;
                background-color: #333;
            }
        }
    }

    .minBase{
        width: calc(100% / 3);

        p:after{
            content: 'MinPrice';
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 92%;
            border-radius: 2px;
            background-color: #333;
        }
    }

    @media only screen and (min-width: 769px){
        .minBase{
            width: 24%;
            padding: 0 10px;

            p:after{
                left: 0;
            }

            &::after{
                height: 84%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .maxBase{
        width: calc(100% / 3);

        p:after{
            content: 'MaxPrice';
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 92%;
            border-radius: 2px;
            background-color: #333;
        }
    }

    @media only screen and (min-width: 769px){
        .maxBase{
            width: 24%;
            padding: 0 10px;

            p:after{
                left: 0;
            }

            &::after{
                height: 84%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .stock{
        width: calc(100% / 3);

        p:after{
            content: 'Stock';
        }
    }

    @media only screen and (min-width: 769px){
        .stock{
            width: 12%;
            padding: 0 10px;

            p:after{
                left: 0;
            }

            &::after{
                height: 84%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

@media only screen and (min-width: 769px){
    .itemContainer{
        width: 100%;

        .item{
            height: 50px;

            p{
                line-height: 60px;
                font-size: 16px;
            }

            &:nth-child(1){
                p{
                    line-height: 20px;
                    align-self: center;
                }
            }
        }
    }
}

.grade-1{
    color: #fff;
}

.grade-1{
    color: #51d960;
}

.grade-2{
    color: #386bb3;
}

.grade-3{
    color: #e5b42e;
}

.grade-4{
    color: #d05d49;
}