.logo{
    img{
        display: block;
        width: 54px;
        margin: 0 auto;
        margin-top: 12px;
    }
}

@media only screen and (min-width: 769px){
    .logo{
        img{
            width: 79px;
            margin: 0;
        }
    }
}