.logoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 12px;
}

.logo {
	img {
		display: flex;
		width: 40px;
		margin: 0 auto;
	}
}

.title {
	color: #fff;
	font-size: 26px;
	margin-left: 16px;
}

@media only screen and (min-width: 769px) {
	.logoContainer {
		margin-top: 0;
	}

	.logo {
		img {
			width: 56px;
			margin: 0;
		}
	}
}
