.subcategoryFilter{
    width: 30%;
    transform: scale(0.9);

    label{
        color: #fff;
        font-size: 13px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 769px){
    .subcategoryFilter{
        width: 32%;
        transform: scale(1);
    
        label{
            font-size: 16px;
        }
    }
}