.paginationButtons{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 18px 0;
    font-size: 20px;

    li{
        margin: 0 6px;
        color: #fff;
        width: 28px;
        height: 28px;
        text-align: center;
    }

    .selected{
        background-color: #222;
        border-radius: 50%;
    }
}